<!DOCTYPE html>
<title>
    <h1>Course Finder</h1>
</title>
<link rel = "stylesheet" href = "style.css">
<body>
    <h1><center>Course Finder</center></h1>
</body>
<div class = "row">
    <div class = "column">
        <body>
                <h3><center><select>
                    <option value = "0">Select badge 1:</option>
                    <option value = "1">Media And Visual Analysis</option>
                    <option value = "2">Scientific Method/option>
                    <option value = "3">Literary And Textual Analysis</option>
                    <option value = "4">Quantitative And Numerical Analysis</option>
                    <option value = "5">Societies and Cultures of the Past</option>
                    <option value = "6">Diversity $ Identity</option>
                    <option value = "7">Global Awareness</option>
                    <option value = "8">Sustainability</option>
                    <option value = "9">Practical and Applied Knowledge</option>
                    <option value = "10">Ethics</option>
                    <option value = "1">Leadership, Community, and Engaging the World</option>
                            </select>
                </center></h3>
                <h3><center><select>
                    <option value = "0">Select badge 2:</option>
                    <option value = "1">Media And Visual Analysis</option>
                    <option value = "2">Scientific Method/option>
                    <option value = "3">Literary And Textual Analysis</option>
                    <option value = "4">Quantitative And Numerical Analysis</option>
                    <option value = "5">Societies and Cultures of the Past</option>
                    <option value = "6">Diversity $ Identity</option>
                    <option value = "7">Global Awareness</option>
                    <option value = "8">Sustainability</option>
                    <option value = "9">Practical and Applied Knowledge</option>
                    <option value = "10">Ethics</option>
                    <option value = "1">Leadership, Community, and Engaging the World</option>
                            </select>
                </center></h3>
                <center><button type="button">Finder!</button></center>
                
        </body>
    </div>
    <div class = "column">
        <body>
                <h3><center>Results:</center></h3>
        </body>
    </div>
</div>
</html>